$main-bg-color: #ffffff;
$second-bg-color: #e0e0e0;
$third-bg-color: #caa892;
$fourth-bg-color: #c4c4c4;
$btn-bg-main: #37806b;

$prim-txt-clr: #646464;
$ttl-txt-clr: #212121;
$text-btn-color-1: #ffffff;
$text-btn-color-2: #37806b;

$border-color: #b0855b;
